.catalogo-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .catalogo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}