.card-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.card:hover {
  box-shadow:  20px 20px 60px #b9bbbb, 
  -20px -20px 60px #fbfdfd;
}

.card {
  width: 18rem;
  margin-bottom: 5%;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.16);
}


